/* ==============================
 ==== Main Body Styling =========
================================*/

html,
body {
    height: 100%;
}

body {
    font-size: 16px;
    font-family: lato, sans-serif;
    font-weight: 500;
    font-style: normal;
}

#wrap {
    min-height: 100%;
}


/* ==============================
===== Navbar Styling ============
===============================*/

 /* Remove margins and padding from the list */
nav {
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-style: normal;
    background-color: #7e7e7e;
    height: 120px;
    margin: 0;
    padding: 0;
}

/* Remove margins and padding from the list, and add a black background color */
ul.topnav {
    list-style-type: none;
    width: 100%;
    /*    overflow: hidden;*/
    margin: 0;
    padding: 0;
}

/* Float the list items side by side */
ul.topnav li {
    float: right;
    margin: 15px 20px;
}

/* Style the links inside the list items */
ul.topnav li a {
    display: inline-block;
    color: #f2f2f2;
    font-family: Alice, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 1.5em;
    font-weight: 600;
}

/* Change background color of links on hover */
ul.topnav li a:hover {
    background-color: #9f6b3f;
}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.topnav li.icon {
    display: none;
}

a:visited {
    color: #d3d3d3;
}

/* ============================
=== End Navbar Stylings ======
============================= */


/* =================================================
====== Section,Paragraph, & Main Title Stylings ==== 
================================================= */

section {
    margin-top: 5px;
    margin-left: 10%;
    width: 80%;
    padding: 15px 20px;
}

#main_title {
    font-family: Lobster Two, sans-serif;
    font-size: 52px;
    color: #9f6b3f;
    margin-top: 120px;
    text-align: center;
    height: auto;
}

pre {
    top: 35%;
    overflow: hidden;
    white-space: pre-line;
}

#main_title img {
    border-radius: 50%;
    top: 90px;
    margin: auto;
    z-index: -1;
}

p {
    font-family: Alice, serif;
    font-size: 22px;
    color:azure;
    margin-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    line-height: 1.2em;
    text-indent: 50px;
}

p.intro {
    font-size: 26px;
    line-height: 28px;
    font-style: normal;
    font-weight: 400;
}

p.intro:first-child:first-letter {
    float: left;
    color: #9f6b3f;
    font-size: 75px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 0px;
    padding-left: 3px;
    font-family: Georgia;
}

section p:first-child {
    text-indent: 0px;
}

section p:first-child:first-letter {
    font-size: 1.5em;
    line-height: 1em;
}

main {
    overflow: auto;
    padding-bottom: 12vh;
    /* must be same height as the footer */
}

hr.hr_style {
    border-style: solid;
    border-color: #9f6b3f;
    border-width: 3px 0 0 0;
    border-radius: 20px;
}

hr.hr_style:before {
    display: block;
    content: "";
    height: 30px;
    margin-top: -31px;
    border-style: solid;
    border-color: #9f6b3f;
    border-width: 0 0 3px 0;
    border-radius: 20px;
}

span {
    position: relative;
    top: 45px;
    margin-top: 40px;
    margin-left: 55px;
    font-family: Alice, sans-serif;
    font-size: 1.4em;
    color: #d3d3d3;
}

span#initials {
    background-color: #9f6b3f;
    color: #d3d3d3;
    font-size: 2.2em;
    padding: 20px;
    border-radius: 50%;
}

span.section_header {
    position: absolute;
    left: 44%;
    bottom: 53%;
    font-size: 46px;
    color: #9f6b3f;
}

.myName {
    font-size: .6em;
    /* Styling for name on left side. Used sibling "+" selector.*/
}


/* =================================================
====== End of Main Title,Paragragh etc Stylings ====
================================================= */

/* =====================================
===== Styling for Portfolio Images =====
====================================== */

figure.img:hover {
    border: 2px solid #9f6b3f;
}

figure.img:last-child {
    margin-bottom: 20px;
}

#portfolio figure:nth-child(odd) {
    margin-left: 20%;
}

figcaption.desc {
    font-family: Alice, serif;
    background-color: #4f5a65;
    padding: 15px;
    text-align: center;
}

#contact_area {
    clear: both;
}

h3 {
    font-size: 46px;
    color: #9f6b3f;
    margin: 30px;
    width: 75%;
}


/* ==========================================
=======  Styling for the Contact and Form
=======  area  ==============================
========================================== */

#contact-area {
    margin-bottom: 25px;
}

#contact-area input,
#contact-area textarea {
    padding: 5px;
    width: 100%;
    font-family: Alice, sans-serif;
    font-size: 1.4em;
    background-color: #d3d3c1;
    margin: 0px 0px 10px 0px;
    border: 2px solid #ccc;
}

#contact-area textarea:focus,
#contact-area input:focus {
    border: 2px solid #9f6b3f;
    ;
}

#contact-area input.submit-button:hover {
    background: #9e5b24;
    /* Old browsers */
    background: -moz-linear-gradient(top, #9e5b24 0%, #995423 66%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #9e5b24 0%, #995423 66%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #9e5b24 0%, #995423 66%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#9e5b24', endColorstr='#995423', GradientType=0);
    /* IE6-9 */
}

#contact-area input:focus {
    border: 2px solid #9f6b3f;
}

#contact-area input.submit-button {
    border: 2px solid black;
    border-radius: 25px;
    width: auto;
    margin-top: 10px;
    background: #9f6b3f;
    /* Old browsers */
    background: -moz-linear-gradient(top, #eab92d 0%, #9f6b3f 87%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #eab92d 0%, #9f6b3f 87%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #eab92d 0%, #9f6b3f 87%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#eab92d', endColorstr='#9f6b3f', GradientType=0);
    /* IE6-9 */
}

#contact_me {
    font-family: Alice, serif;
    font-size: 26px;
}

label {
    display: inline-block;
    text-align: right;
    width: auto;
    color: azure;
    padding-top: 5px;
    font-size: 1.4em;
}


/* ============================
======Styling for Footer ======
==============================*/

#footer {
    position: relative;
    margin-top: -12vh;
    /* negative value of footer height */
    /*height: -12vh; Important! Must adjust margin-bottom of directly above element(s) to match height of footer.*/
    background-color: #7e7e7e;
}

h4 {
    margin-left: 40%;
    font-family: Alice, sans-serif;
    font-size: 38px;
    margin-top: 5px;
}

#footer_menu i:hover:before {
    font-size: 40px;
}

ul#footer_menu {
    list-style-type: none;
    margin-left: 40%;
}

#footer_menu li {
    display: inline-block;
    margin: 5px 10px;
    width: 7vw;
    height: 7vh;
}

#footer_menu i {
    min-height: 1.2em;
    min-width: 1.2em;
    position: absolute; /*Prevents other icons from moving on hover */
}

/* ================================================================================
======================== Styling for the .pdf file Modal ==========================
=================================================================================*/

.modal {
    position: fixed;
    height: 100vh;
    max-height: 100%;
    width: 100vw;
    max-width: 100%;
    font-family: Alice, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modal:target {
	opacity:1;
	pointer-events: auto;
}


.modal > div {
    height: 88vh;
    width: 88vw;
	position: relative;
	margin: 4% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}

.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #9f6b3f; }

iframe  {
   height: 80vh;
   width: 85vw;
   border:none;
   display: none;
}

h2  {
  font-size: 1.1em;
  margin: 5px;
}


/* ==============================================
========== @media Responsive Styles =============
===============================================*/

@media only screen and (max-width: 400px)  {
  pre {
    top: 35%;
    width: 115%;
    height: auto;
    overflow: hidden;
    white-space: pre-line;
  }
}


/*  ===================================
    Media Queries for Responsive Menu
===================================== */

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:925px) {
    ul.topnav li {
        display: none;
    }
    ul.topnav li.icon {
        float: right;
        display: inline-block;
    }
}

/* @media screen and (max-width: 760px) {
    Make all menu links full width
    ul li,
    li a {
        width: 100%;
    }
}
*/

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:925px) {
    ul.topnav.responsive {
        position: relative;
    }
    ul.topnav.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.topnav.responsive li {
        float: none;
        display: inline;
    }
    ul.topnav.responsive li a {
        display: block;
        text-align: left;
    }
}
/*  End Media Queries Responsive Menu*/




@media screen and (max-width: 760px)  {
   .footer_header {
       font-size: 1.8em;
       margin-left: 20%;
    }
     ul#footer_menu {
      margin-left: 25%;
    }
}


